<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Skypro. Урок 11. Часть 1</title>
</head>
<body>
<div class="container">
    <div class="card">
        <img src="http://via.placeholder.com/150x150" alt="Jonah" style="width:100px">
        <h1>Jonah</h1>
        <p class="title">Engineer</p>
        <p>MBA</p>
        <div>Experience:
            <ul>
                <li>Oracle</li>
                <li>IBM</li>
                <li>Google</li>
            </ul>
        </div>
        <p>
            <button>Contact</button>
        </p>
    </div>
</div>
</body>