<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Skypro. Урок 11. Часть 1</title>
</head>
<body>
<div class="container">
    <div class="card">
        <div class="resume-status">
            - ваше резюме размещено. Подождите немного и кто то обязательно его оценит!
        </div>
        <div class="resume-otklik">
            - У вас есть X откликов, скорее посмотрите их
        </div>
        <button type="button">Посмотреть отклики</button>
        <div class="resume-no">
            - вы еще не разместили резюме и не можете получать отклики компаний
        </div>
    </div>
</div>
</body>